<?php

/* Servers configuration */
$i = 0;

$i++;
$cfg['Servers'][$i]['verbose'] = 'MY_HOSTNAME';
#$cfg['Servers'][$i]['host'] = 'MY_HOSTNAME';
$cfg['Servers'][$i]['port'] = '';
$cfg['Servers'][$i]['socket'] = '';
$cfg['Servers'][$i]['connect_type'] = 'tcp';
$cfg['Servers'][$i]['extension'] = 'mysqli';
$cfg['Servers'][$i]['auth_type'] = 'cookie';
$cfg['Servers'][$i]['user'] = 'root';
$cfg['Servers'][$i]['password'] = '';
$cfg['Servers'][$i]['hide_db'] = '(information_schema|performance_schema)';

$cfg['blowfish_secret'] = 'n)@NyuKJ{XSLu{i)0E|UXFGlOdc_i{hsB$^328';
$cfg['LoginCookieValidity'] = 3600;
$cfg['DefaultLang'] = 'es';
$cfg['ServerDefault'] = 1;
$cfg['UploadDir'] = '';
$cfg['SaveDir'] = '';
$cfg['AllowThirdPartyFraming'] = true;

?>
