<VirtualHost MY_IP:80>
	ServerName MY_HOSTNAME:80
	ServerAdmin webmaster@MY_HOSTNAME
	DocumentRoot /home/www-data/www/
	ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://127.0.0.1:9000/home/www-data/www/$1
	#ProxyPassMatch ^/(.*\.php(/.*)?)$ unix:/var/run/php5-fpm.sock|fcgi://127.0.0.1/home/www-data/www/
	
	#BEGIN
	<Directory "/home/www-data/www/">
		require all granted
		Options +FollowSymLinks
		RewriteEngine On
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteCond %{REQUEST_FILENAME} !-d
		RewriteRule ^(.*)$ index.php/$1 [QSA,L]
	</Directory>
	#END

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
