<IfModule mod_ssl.c>
<VirtualHost MY_IP:9090>
	ServerName MY_HOSTNAME:9090
	ServerAdmin webmaster@MY_HOSTNAME
	DocumentRoot /home/www-data/www-ssl/
	ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://127.0.0.1:9000/home/www-data/www-ssl/$1
	#ProxyPassMatch ^/(.*\.php(/.*)?)$ unix:/var/run/php5-fpm.sock|fcgi://127.0.0.1/home/www-data/www-ssl/

	#BEGIN
	<Directory "/home/www-data/www-ssl/">
		require all granted
	</Directory>

	<Directory "/home/www-data/www-ssl/pmftp/temp/">
		require all denied
	</Directory>

	<Files "config.inc.php">
		require all denied
	</Files>
	#END

	Timeout 3600

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/ssl_access.log combined

	SSLEngine on
	SSLCertificateFile      /etc/ssl/certs/ssl-cert-snakeoil.pem
	SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key

	<FilesMatch "\.(cgi|shtml|phtml|php)$">
		SSLOptions +StdEnvVars
	</FilesMatch>
	<Directory /usr/lib/cgi-bin>
		SSLOptions +StdEnvVars
	</Directory>

	#   "force-response-1.0" for this.
	BrowserMatch "MSIE [2-6]" \
		nokeepalive ssl-unclean-shutdown \
		downgrade-1.0 force-response-1.0
	# MSIE 7 and newer should be able to use keepalive
	BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
</VirtualHost>
</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
