<VirtualHost MY_IP:80>
	ServerName www.domain
	RedirectMatch permanent ^/(.*) http://domain/$1
</VirtualHost>

<VirtualHost MY_IP:80>
	ServerName domain
	DocumentRoot /home/uname/www/
	ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://127.0.0.1:nport/home/uname/www/$1
	#ProxyPassMatch ^/(.*\.php(/.*)?)$ unix:/var/run/php5-fpm-uname.sock|fcgi://127.0.0.1/home/uname/www/
	
	#BEGIN
	<Directory "/home/uname/www/">
		require all granted
	</Directory>
	#END

	ErrorLog ${APACHE_LOG_DIR}/uname_error.log
	CustomLog ${APACHE_LOG_DIR}/uname_access.log combined
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
